.leaderboard {
  width: 80%;
  margin: 100px auto;
  background: #e5f5f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 20px;
}

.tableName {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader,
.tableData {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tableHeader {
  background: #16a085;
  color: white;
}

.tableRow:nth-child(even) {
  background-color: #f2f2f2;
}

#player-info {
  display: flex;
  align-items: center;
}

#player-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .leaderboard {
    margin: 50px auto;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .title {
    font-size: 2em;
  }

  .tableHeader,
  .tableData {
    padding: 10px;
  }

  #player-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

@media (max-width: 443px) {
  .leaderboard {
    margin: 50px auto;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
  }

  .title {
    font-size: 1.5em;
  }

  .tableHeader,
  .tableData {
    padding: 5px;
    text-align: center;
  }

  #player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #player-img {
    width: 30px;
    height: 30px;
    margin: 5px 0;
  }
}

.tableRow:hover {
  background-color: #d0f30c;
  animation: blink 0.5s step-end infinite alternate;
}

/* Pagination container to wrap pagination and items per page controls */
.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  margin-top: 0px;
}

/* Pagination controls styling */
.pagination {
  display: flex;
  margin-top: 10px;
}

.pagination button {
  background-color: #16a085;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #1abc9c;
}

.pagination button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #1abc9c;
  font-weight: bold;
}

/* Items per page selector styling */
.items-per-page {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.items-per-page span {
  margin-right: 10px;
}
