.leaderboard {
  width: 80%;
  margin: 50px auto;
  background: #e5f5f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 20px;
}

.tableName {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader,
.tableData {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tableHeader {
  background: #16a085;
  color: white;
}

.tableRow:nth-child(even) {
  background-color: #f2f2f2;
}

#player-info {
  display: flex;
  align-items: center;
}

#player-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .leaderboard {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .title {
    font-size: 2em;
  }

  .tableHeader,
  .tableData {
    padding: 10px;
  }

  #player-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

@media (max-width: 443px) {
  .leaderboard {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
  }

  .title {
    font-size: 1.5em;
  }

  .tableHeader,
  .tableData {
    padding: 5px;
    text-align: center;
  }

  #player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #player-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px 0;
  }
}

.tableRow:hover {
  background-color: #d0f30c;
  animation: blink 0.5s step-end infinite alternate;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-link {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  color: #000;
  cursor: pointer;
}

.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
