.contest-edit-sidebar {
  width: 100px;
}
.contest-edit-content {
  padding-left: 250px;
}
.contest-edit-footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color);
}
.contest-edit-left-buttons{
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}
.contest-edit-footer-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 2px solid var(--bottom-border-color);
  border-radius: 2px;
  padding: 10px 20px;
  text-decoration: none;
}
.contest-edit-footer-button:hover {
  background-color: var(--secondary-color);
}