.rules-contest {
    background-color: var(--background-color);
    width: 100%;
    padding: 100px;
    color: var(--text-color);
}
.rules-contest-header {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.rules-input-field {
    padding-bottom: 40px;
    width: 50%;
    margin: 0 auto;
}
.rules-form {
    padding: 80px 0;
}   
.text-area-label {
    font-weight: 500;
    color: var(--text-color);
    font-size: x-large;
}
.text-area-control {
    overflow-y: scroll;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}
.text-area-control:focus {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    box-shadow: none;
}