@import '../../index.css';

.form {
    width: 50%;
    margin: 50px auto;
}
.contest-detail-filling{
    background-color: var(--background-color);
    color: var(--text-color);
}

.formsubmit button{
    width: 100%;
    background-color: var(--primary-color);
    color: #1f1e1e;
}
#label-text {
    color: var(--text-color);
}

@media (max-width: 768px) {
    .form {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .formsubmit {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formsubmit button {
        width: 75%;
    }
}