.form {
    width: 50%;
    margin: 50px auto;
}

.formsubmit button{
    width: 100%;
}

@media (max-width: 768px) {
    .form {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .formsubmit {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formsubmit button {
        width: 75%;
    }
}