@import '../../index.css';

.text {
    padding: 15px 0;
}

.details {
 display: flex;
 justify-content: space-between;    
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.contest-cards {
    padding: 50px;
}
.contest-filter{
    width: 50%;
    margin: 0 auto;
    padding: 25px 0;
}
.contest-type {
    display: inline-block;
    padding: 5px 10px; 
    border: 2px solid var(--border-color); 
    border-radius: 20px; 
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 1s, color 0.3s; 
  }
  
  .contest-type:hover {
    background-color: var(--primary-color); 
    color: #fff; 
  }

    @media (max-width: 768px) {
        .contest-filter{
            width: 75%;
        }
    }
.contests {
    background-color: var(--background-color);
}