.text-area-label {
    font-weight: 500;
    color: var(--text-color);
    font-size: x-large;
}
.text-area-control {
    max-width: 50%;
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--text-color);
}
.text-area-control:focus {
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: none;
}