@import '../../../index.css';

.text {
    padding: 15px 0;
}

.contest-filter{
    width: 50%;
    margin: 0 auto;
    padding: 25px 0;
}
.contest-type {
    display: inline-block;
    background-color: var(--background-color);
    padding: 5px 10px; 
    border: 2px solid var(--border-color); 
    border-radius: 20px; 
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.5s, color 0.3s; 
  }
  
.contest-type:hover {
    background-color: var(--primary-color); 
    color: #fff; 
  }

    @media (max-width: 768px) {
        .contest-filter{
            width: 75%;
        }
    }
.contest-type.active {
    background-color: var(--active-color);
}
.contests {
    background-color: var(--background-color);
}