/* .signup-page {
    height: 100vh;
    width: 100vw;
    padding-top: 8%;
    background-color: var(--background-color);
} */

.signup-form {
    width: 90vw;
    max-width: 500px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: var(--signup-card-color);
    border-radius: 25px;
    color: var(--text-color);
}

/* Header Styling */
.signup-form h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.8rem;
}

/* Input Field Styles */
.signup-input-field {
    margin-top: 10px;
}

.signup-input-fields .input-field {
    background-color: var(--card-color);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    color: var(--text-color);
    width: 100%;
}

.signup-input-fields .input-field::placeholder {
    color: var(--text-color);
    opacity: 1;
}

.signup-input-fields .input-field:focus {
    border-color: #80bdff;
    outline: none;
    background-color: var(--background-color);
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
    color: var(--text-color);
}

.signup-footer-text {
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
}

.signup-form-footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-btn {
    width: 80%;
    max-width: 300px;
    margin: auto;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out;
}

.signup-btn:hover {
    background-color: var(--active-color);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .signup-form {
        max-width: 60vw;
        margin-top: 5%;
        padding: 1.5rem;
    }

    .signup-form h1 {
        font-size: 2.5rem;
    }

    .signup-form h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .signup-btn {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .signup-form {
        width: 90vw;
        margin-top: 3%;
        padding: 1rem;
    }

    .signup-form h1 {
        font-size: 2rem;
    }

    .signup-form h2 {
        font-size: 1.2rem;
    }

    .signup-footer-text {
        font-size: 0.9rem;
    }
}
