@import '../../../index.css';

@media (min-width:768px) {
    #menu-bar {
        display: none;
    }
}

#header .offcanvas {
    background-color: var(--background-color);
    color: var(--text-color);
}

#header {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--bottom-border-color);
    z-index: 1040;
}

#brand-name {
    color: var(--text-color);
}

#off-brand {
    color: var(--text-color);
}

#offcanvas {
    background-color: var(--background-color);
}

#nav-item {
    color: var(--text-color);
}

.no-caret .dropdown-toggle::after {
    display: none;
}

.dropdown-card {
    border: none !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}
  
.dropdown-card .dropdown-item {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: none !important;
}
  
.dropdown-card .dropdown-item:hover {
    background-color: var(--hover-background-color) !important;
    color: var(--hover-text-color) !important;
}

.offcanvas-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar-toggle-custom {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 0;
}