@import '../../../index.css';

@media (min-width:768px) {
    #menu-bar {
        display: none;
    }
}

#header .offcanvas {
    background-color: var(--background-color);
    color: var(--text-color);
}

#header {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--bottom-border-color);
}

#brand-name {
    color: var(--text-color);
}

#off-brand {
    color: var(--text-color);
}

#offcanvas {
    background-color: var(--background-color);
}

#nav-item {
    color: var(--text-color);
}

.no-caret .dropdown-toggle::after {
    display: none;
}

.dropdown-card {
    /* margin-top: 5px; */
    border: 2px white solid;
    border-radius: 50%;
}

